.login-page-img-background {
  background-color: #64756c;
  background-image: url("/static/img/login_background.png");
  /* background-image: url("{{ company.get_photo_image_login }}"); */
  /* background-size: cover; */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 45% 67%;
}
