{% extends 'form.html' %}
{% load static %}

{% block head_form %}
<!-- Plugins para campo fecha -->
<script src="{% static 'lib/moment-2.25.3/moment-with-locales.js' %}"></script>
<script src="{% static 'lib/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.js' %}"></script>
<link href="{% static 'lib/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet"/>
{% endblock %}

{% block javascript %}
    <script>
        // Guardo en variable el componente date_birthday
        let input_date_birthday = $('input[name="date_birthday"]');
        // Inicializo el componente date_birthday
        input_date_birthday.datetimepicker({
                useCurrent: false,
                format: 'YYYY-MM-DD',
                locale: 'es',
                keepOpen: false,
         });
         // Le asigno un valor al componente date_birthday
        input_date_birthday.datetimepicker('date', input_date_birthday.val());
    </script>
{% endblock %}
